* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #373737;
}

.title {
    position: absolute;
    color: #ffffff;
    top: 20px;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.calculator {
    width: 400px;
    height: 600px;
    background: #000000;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 20px;
    border-radius: 20px;
}

input {
    grid-area: 1 / 1 / 2 / -1;
    height: 50px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

button {
    font-size: 24px;
    font-weight: 900;
    border-radius: 20px;
    padding: 10px;
    background-color: #ffffff;
}

button:hover {
    background: #504f4f;
    color: #cbcbcb;
    transition: 0.3s;
}

#del {
    color: #f60b0b;
}

#eql {
    background: #f60b0b;
    color: black;
}

#eql:hover {
    background: #890606;
    color: black;
}