* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#display {
    background-color: #000000;
    color: greenyellow;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222222;
    padding-top: 60px;
}

.title {
    position: absolute;
    color: #ffffff;
    top: 20px;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.calculator {
    width: 400px;
    height: 600px;
    background: #333333;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 20px;
    border-radius: 20px;
}

input {
    grid-area: 1 / 1 / 2 / -1;
    height: 50px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

button {
    font-size: 24px;
    font-weight: 900;
    border-radius: 20px;
    padding: 10px;
    background-color: #555555;
    color: #ffffff;
    border: none;
}

button:hover {
    background: #969696;
    color: #ffffff;
    transition: 0.3s;
}

.btn-col {
    background-color: #ff9500;
    color: #ffffff;
}
.btn-col:hover {
    background-color: #ffb84d;
    color: #ffffff;
    transition: 0.3s;
}
#clear {
    color: #ffffff;
    background-color: #e63946;
}
#clear:hover {
    color: #ffffff;
    background-color: #969696;
    transition: 0.3s;
}

#del {
    color: #ffffff;
    background-color: #457b9d;
}

#del:hover {
    color: #ffffff;
    background-color: #969696;
    transition: 0.3s;
}
#eql {
    color: #ffffff;
    background-color: #2a9d8f;
}
#eql:hover {
    color: #ffffff;
    background-color: #969696;
    transition: 0.3s;
}
